* {
    background-color: rgb(243, 203, 199);
}

header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: salmon;
    color: black;

    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    margin-bottom: 20px;
    border-bottom: 4px solid rgb(177, 91, 81);
}

header h1 {
    background-color: salmon;
    text-align: center;
}

header a {
    background-color: salmon;
    color: rgb(78, 32, 32);
    text-decoration: none;
    transition: color 0.3s;


}

a {
    background-color: salmon;
    text-decoration: none;
    color: rgb(78, 32, 32);
}

a:hover {
    text-decoration: none;
    color: brown;
}


footer {
    background-color: salmon;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 50px;

}

p {
    position: static;
    text-align: center;
    margin-left: 15%;
    margin-top: 7%;
    width: 40%;
}

img {

    width: 50%;
    padding: 5px;
    border-radius: 100px;
    margin-left: 100px;
    
   
    position: sticky;
    position: absolute;

}
main{
    height: 1100px;
}
video{
    
    width: 50%;
    padding: 5px;
    border-radius: 100px;
    margin-left: 7%;
    margin-top: 30%;
    
   
    position: sticky;
    position: absolute;
}


